* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    height: 100vh;
}

.card-container {
    background-color: #614a35;
    border: 20px solid #382c21;
    width: min(1020px, 90vw);
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card {
    height: 300px;
    width: 200px;
    background-color: rgb(90, 34, 34);
    color: rgb(211, 183, 25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    position: relative;
}

.remove-btn {
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid black;
    display: flex;
    place-content: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.479);
    color: white;
    cursor: pointer;
    height: 1.2rem;
    width: 1.2rem;
}

body > button {
    width: 160px;
    height: 50px;
    align-self: center;
    justify-self: center;
    margin: 50px;
}

.new-book-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.37);
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.modal-content {
    background-color: rgb(255, 255, 255);
    margin: 15vh auto;
    height: 70vh;
    width: 500px;
    display: grid;
    align-items: center;
    padding: 20px;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
}

form > button {
    grid-column: 1 / 3;
    width: 200px;
    justify-self: right;
}